body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
textarea,
p,
blockquote,
th,
td,
embed,
object,
.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -ms-box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
select,
input,
button,
textarea {
  font: 100% tahoma, arial, Microsoft Yahei;
  outline: none;
}
body {
  font: 12px Helvetica Neue, arial, Microsoft Yahei;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  border: none;
}
input::-ms-clear {
  display: none;
}
a {
  text-decoration: none;
  color: #222222;
}
body {
  background: #f8f8f8;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.color-danger {
  color: #f00;
}
.color-default-light {
  color: #ccc;
}
.color-default {
  color: #666;
}
.color-primary {
  color: #3071a9;
}
.color-primary:hover {
  color: #3071a9;
}
.color-warning {
  color: #fe7e03 !important;
}
.color-success {
  color: #6eb92b !important;
}
.color-primary-light {
  color: #2e7fe7;
}
.font-normal {
  font-size: 14px;
}
.font-middle {
  font-size: 16px;
}
.font-large {
  font-size: 18px;
}
.tc {
  text-align: center;
}
.pd-l-20 {
  padding-left: 20px;
}
.clearfix:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.middle-box {
  width: 1050px;
  margin: 0 auto;
}
.bg-info {
  background: #eff5fd !important;
}
.bg-warning {
  color: #fff;
  background: #fe7e03 !important;
}
.bg-pink {
  color: #222 !important;
  background: #fff7f6 !important;
}
.bg-success {
  color: #fff;
  background: #6eb92b !important;
}
.btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn.btn-primary {
  color: #fff;
  border-color: #357ebd;
  background-color: #428bca;
}
.btn.btn-primary:hover {
  color: #fff;
  border-color: #285e8e;
  background-color: #3071a9;
}
.btn.btn-danger {
  color: #fff;
  border-color: #d43f3a;
  background-color: #d9534f;
}
.btn.btn-danger:hover {
  color: #fff;
  border-color: #ac2925;
  background-color: #c9302c;
}
.btn.btn-warning {
  color: #fff;
  border-color: #d58512;
  background-color: #ec971f;
}
.btn.btn-warning:hover {
  color: #fff;
  border-color: #d58512;
  background-color: #ec971f;
}
.btn.btn-default {
  color: #333;
  border-color: #ccc;
  background: #fff;
}
.btn.btn-default:hover {
  color: #333;
  border-color: #adadad;
  background-color: #e6e6e6;
}
.btn.btn-xs {
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn.btn-sm {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn.message-code {
  width: 105px;
  text-align: right;
}
.btn:active {
  top: 1px;
  left: 1px;
}
.btn[disabled],
.btn[disabled]:hover {
  cursor: not-allowed;
  color: #222;
  border: 1px solid #d6d6d6;
  background: #ddd;
}
.btn-group .btn {
  margin-right: 10px;
}
.btn-group .btn:last-child {
  margin-right: 0;
}
.btn-close {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  float: right;
  cursor: pointer;
  opacity: .2;
  color: #000;
  border: none;
  background: 0;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
}
.btn-close:hover {
  opacity: .5;
  color: #000;
  filter: alpha(opacity=50);
}
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table > thead > tr > th {
  font-weight: 400;
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background: #eff5fd;
}
.table > tbody > tr > td {
  padding: 15px 8px;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.table.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
.table.table-striped > tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table.table-fixed {
  table-layout: fixed;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header > .logo > img {
  width: 30%;
}
.header > .nav {
  float: right;
}
.header > .nav > li {
  font-size: 16px;
  line-height: 2.5;
  position: relative;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.header > .nav > li:hover > a {
  color: #5a95e1;
  border-bottom: 4px solid #5a95e1;
}
.header > .nav > li > a {
  padding: 10px 5px;
}
.header > .nav > li.active > a {
  color: #5a95e1;
  border-bottom: 4px solid #5a95e1;
}
.nav-level-two {
  min-width: 1050px;
  min-height: 40px;
  margin-bottom: 20px;
  background: #2e7fe7;
}
.nav-level-two .nav-name-list > .nav-name-item {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-level-two .nav-name-list > .nav-name-item > a {
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
  color: #fff;
}
.nav-level-two .nav-name-list > .nav-name-item:hover {
  background: #8eca46;
}
.nav-level-two .nav-name-list > .nav-name-item.active {
  background: #8eca46;
}
.content {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.content .content-header {
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #222222;
  border-bottom: 1px solid #3c8dbc;
}
.content .operator {
  line-height: 3;
  padding-right: 10px;
  text-align: right;
}
.tools {
  font-size: 12px;
  line-height: 2;
  float: right;
}
.tools .component {
  margin-right: 20px;
}
.tools .component:last-child {
  margin-right: 0;
}
.icon-setup {
  float: right;
  padding: 12px;
  background: url(../img/setUp.png) center no-repeat;
}
.info {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}
.info:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.info:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
}
.info .business-card {
  position: relative;
  height: 55px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 55px;
  transition: all .5s;
  border-top: 4px solid #3499f7;
  border-right: 1px solid #3499f7;
  border-left: 1px solid #3499f7;
  background: #fbfbfb;
}
.info .business-card span {
  margin-right: 30px;
}
.info .business-card > .business-card-info {
  float: left;
  width: 49.5%;
  padding: 10px;
}
.info .business-card > .business-card-info > p {
  line-height: 2;
}
.info .business-card > .business-fundation {
  border-right: 1px solid #f1f1f1;
}
.info .business-card .tools {
  transition: opacity .5s;
  opacity: 0;
  color: #666;
}
.info .business-card:hover .tools {
  opacity: 1;
}
.info .business-card .company-logo {
  position: absolute;
  top: 5px;
  left: 10px;
}
.info .business-card .company-logo img {
  display: block;
  width: 38px;
}
.info .business-trade {
  border: 1px solid #3499f7;
  background: #f8f8f8;
}
.info .business-trade th {
  font-weight: 400;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 5px;
}
.info .business-trade td {
  padding-right: 0;
  padding-left: 5px;
  background: #fff;
}
.info-list,
.info-list-sm {
  float: left;
  width: 40%;
  padding-right: 5%;
  padding-left: 20px;
}
.info-list .info-list-item,
.info-list-sm .info-list-item {
  font-size: 16px;
  margin-bottom: 20px;
}
.info-list .account-balance,
.info-list-sm .account-balance {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  color: #f00;
}
.info-list .balance-detail,
.info-list-sm .balance-detail {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-menu.account-balance-detail {
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown .dropdown-menu.account-balance-detail > li {
  line-height: 2;
}
.dropdown .dropdown-menu.account-balance-detail > li:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.dropdown .dropdown-menu.account-balance-detail > li:last-child {
  border: none;
}
.dropdown .dropdown-menu.account-balance-detail > li > div {
  float: left;
}
.dropdown .dropdown-menu.account-balance-detail > li > div.detail-name {
  width: 95px;
  text-align: right;
}
.dropdown .dropdown-menu.account-balance-detail > li > div.detail-content {
  padding-right: 10px;
  padding-left: 10px;
}
.dropdown .dropdown-menu.account-balance-detail .border-bottom {
  border-bottom: 1px solid #ddd;
}
.info-list-sm {
  width: 30%;
  padding-left: 10%;
}
.card-list {
  position: relative;
  display: inline-block;
  width: 302px;
  height: 190px;
  margin-right: 57px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card-list > p {
  padding: 5px 10px;
}
.card-list > .bank-logo {
  width: 40%;
  margin-top: 10px;
  margin-left: 5px;
}
.card-list .card-balance-content {
  height: 53px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.05);
}
.card-list .card-balance {
  line-height: 1.5;
  display: block;
  margin-left: 30%;
}
.card-list .card-balance.single-info {
  line-height: 3;
}
.card-list .card-balance > i {
  font-size: 14px;
  font-weight: 700;
}
.card-list .card-operator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px dashed #666;
}
.card-list .btn-del {
  padding: 10px;
}
.card-list .card-num {
  font-size: 14px;
  line-height: 3.5;
  padding: 0 10px 0 12px;
}
.card-list .card-num > em {
  font-size: 12px;
}
.card-list .add-card-btn {
  height: 100%;
  padding-top: 90px;
  text-align: center;
  background: #f8f8f8;
}
.card-list:last-child {
  margin-right: 0;
}
.order-detail > .order-detail-header {
  line-height: 3;
  padding: 0 10px;
  color: #fff;
  background: #3499f7;
}
.btn-fixed {
  position: fixed;
  top: 140px;
  right: 0;
}
.io-amount {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}
.io-amount span {
  font-size: 12px;
  margin-right: 40px;
}
.io-amount em {
  font-size: 18px;
}
.table-content .box-table-header th {
  font-size: 14px;
  padding: 10px 8px;
  text-align: center;
  letter-spacing: 10px;
  background: #fff;
}
.table-content .table-border {
  border: 1px solid #ddd;
}
.box-card .box-card-content {
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  color: #222;
}
.box-card .box-card-item {
  position: relative;
  padding-top: 50px;
  text-align: center;
}
.box-card .box-card-item .box-card-item-line {
  width: 610px;
  height: 60px;
  margin: 0 auto;
  border-top: 3px solid rgba(102, 102, 102, 0.27);
  border-right: 3px solid rgba(102, 102, 102, 0.27);
  border-left: 3px solid rgba(102, 102, 102, 0.27);
}
.box-card .box-card-item > .box-card-item-content {
  position: absolute;
  top: 0;
  left: calc(50% - 152px);
  width: 304px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 6px 12px #ddd;
}
.box-card .box-card-item span {
  line-height: 2;
  display: block;
}
.amount {
  font-size: 16px;
  color: #222;
}
.trade-record .table-content {
  padding: 10px;
}
.trade-record .content-footer {
  padding: 10px;
}
.trade-record .pagination > li {
  float: left;
}
.trade-record .pagination > li > a {
  float: left;
  margin-left: -1px;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 1px solid #ddd;
  background: #f8f8f8;
}
.trade-record .pagination > li > a:hover {
  color: #fff;
  background: #3c8dbc;
}
.form-group {
  position: relative;
  padding: 10px 0;
}
.form-group .form-label {
  line-height: 3;
  display: inline-block;
  width: 80px;
  padding-left: 20px;
}
.form-group .form-label.form-necessary:before {
  font-size: 18px;
  line-height: 12px;
  position: relative;
  top: 6px;
  right: 3px;
  display: inline-block;
  content: '*';
  color: #f00;
}
.form-group.slim-form .form-label {
  line-height: 1;
}
.form-group .form-control {
  line-height: 24px;
  display: inline-block;
  width: 14%;
  height: 30px;
  padding: 3px 10px;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color: #555;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-group .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-group .form-control.form-control-sm {
  width: 120px;
  margin-right: 10px;
}
.form-group .form-control.form-control-lg {
  width: 30%;
}
.form-group .form-control-error {
  color: #f00;
  border-color: #f00;
}
.form-group .form-control-error:focus {
  border-color: #f00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}
.form-group .form-error-content {
  position: relative;
  margin-left: 20px;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: #f00;
  border: 1px solid #f00;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-group .form-error-content .form-error-content-arrow {
  position: absolute;
  top: 8px;
  left: -12px;
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #f00;
}
.form-group .form-error-content .form-error-content-arrow:after {
  position: absolute;
  top: -6px;
  left: -5px;
  width: 0;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #fff;
}
.form-group .input-group-addon {
  padding: 5px 6px;
}
.form-group .text-group {
  line-height: 3;
  display: inline;
}
.form-group .text-group > a {
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-group .text-group > a.active {
  color: #fff;
  background: #2e7fe7;
}
.form-group .select-group {
  display: inline-block;
}
.form-group .select-group .form-control {
  width: 121px;
}
.form-group .select-group .form-control:first-child {
  margin-right: -5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-group .select-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-content {
  max-width: 700px;
  margin: 0 auto;
}
.form-content .form-label {
  width: 170px;
  padding-right: 20px;
  padding-left: 0;
  text-align: right;
}
.form-content .form-control {
  width: 240px;
}
.form-content-width-border {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background: #fbfbfb;
  background-clip: padding-box;
  box-shadow: 0 0 12px #e8e8e8;
}
.step-content {
  max-width: 1050px;
  margin: 0 auto;
}
.step-content .step {
  display: flex;
  width: 80%\0;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
}
.step-content .step .step-line {
  float: left\0;
  width: 200px;
  height: 2px;
  margin: 20px -15px 0;
  background: #f00;
}
.step-content .step .step-num {
  float: left\0;
  text-align: center;
}
.step-content .step .step-num span {
  font-size: 18px;
  line-height: 45px;
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #fff;
  background: url('../img/round_red.png') center no-repeat;
}
.container {
  padding: 20px 0;
}
.icon-success {
  padding: 30px;
  background: url('../img/success.png') center no-repeat;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.modal .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
  background: #000;
  filter: alpha(opacity=50);
}
.modal .modal-dialog {
  position: relative;
  z-index: 9999;
  top: 0;
  top: 100px\9;
  width: 500px;
  margin: 0 auto;
  transition: top 0.3s ease-out;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal .modal-dialog.in {
  top: 100px;
}
.modal .modal-dialog .modal-header {
  position: relative;
  padding: 10px;
  background: #f4f4f4;
}
.modal .modal-dialog .modal-header h3 {
  font-size: 14px;
}
.modal .modal-dialog .modal-body {
  padding: 15px;
}
.modal .modal-dialog .modal-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
}
.modal .form-label {
  width: 80px;
}
.modal .form-control {
  width: 205px;
  margin-right: 5px;
}
.modal .modal-submit {
  padding-right: 40px;
  padding-left: 40px;
}
.modal .modal-text {
  padding: 10px;
  color: #555;
  border: 1px solid #ffd396;
  background: #fffee4;
}
/* sing up */
.process-inline {
  line-height: 2;
  margin-bottom: 10px;
  text-align: right;
}
.process-inline span {
  padding-right: 10px;
  padding-left: 10px;
  color: #ccc;
}
.process-inline span i {
  padding: 4px 8px;
  text-align: center;
  color: #fff;
  background: url(../img/circle-gray.png) center no-repeat;
}
.process-inline span.color-success i {
  background: url(../img/circle-green.png) center no-repeat;
}
.category {
  line-height: 2;
  width: 800px;
  margin: 20px auto;
}
.category .category-title {
  padding: 5px 10px;
  color: #fff;
  background: #ddd;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.category .category-line {
  float: right;
  width: 91%;
  height: 1px;
  margin-top: 12px;
  border-top: 1px dashed #ddd;
}
.category.category-warning .category-title {
  background: #ec971f;
}
.category.category-warning .category-line {
  border-color: #ec971f;
}
.category.category-info .category-title {
  background: #5a95e1;
}
.category.category-info .category-line {
  border-color: #5a95e1;
}
.checkbox-inline,
.radio-inline {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}
.checkbox-inline input[type=radio],
.radio-inline input[type=radio],
.checkbox-inline input[type=checkbox],
.radio-inline input[type=checkbox] {
  margin-top: -2px;
  margin-left: -20px;
  vertical-align: middle;
}
.text-list {
  line-height: 2;
}
.text-list p span:first-child {
  padding-right: 10px;
  text-align: right;
}
.text-list p span:last-child {
  color: #666;
}
.text-list p span {
  display: inline-block;
  min-width: 200px;
  max-width: 250px;
  vertical-align: top;
}
.verification-text {
  margin-top: 20px;
  padding: 10px 0 10px 120px;
  border-top: 1px solid #e8e8e8;
}
.prompt-message .prompt-content {
  float: right;
  min-width: 350px;
  min-height: 50px;
  padding: 10px 0 10px 60px;
}
.prompt-message .prompt-content p {
  line-height: 1.5;
}
.prompt-message .warning {
  background: url('../img/warning.png') left center no-repeat;
}
.prompt-message .error {
  background: url('../img/error.png') left center no-repeat;
}
.prompt-message .success {
  background: url('../img/success.png') left center no-repeat;
}
.container .prompt-content {
  float: none;
  width: 350px;
  margin: 0 auto;
}
.subbranch-modal .modal-dialog {
  width: 600px;
}
.subbranch-modal .table-content {
  max-height: 250px;
  overflow-y: auto;
}
.subbranch-modal .table th,
.subbranch-modal .table td {
  text-align: center;
  padding: 5px;
}
.subbranch-modal .table th {
  background: #f1f1f1;
}
.subbranch {
  margin-bottom: 10px;
}
.subbranch .form-group {
  padding: 0;
}
.subbranch .form-group .form-label {
  width: 55px;
  padding: 0;
}
.subbranch .form-group .form-control {
  width: 454px;
  margin-right: -4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.subbranch .btn-search {
  position: relative;
  height: 30px;
  padding: 5px 10px 5px 22px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #007ce6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #007ce6;
  width: 58px;
}
.subbranch .btn-search:before {
  position: absolute;
  left: 5px;
  width: 15px;
  height: 15px;
  content: '';
  background: url('../img/search.png') center no-repeat;
}
.subbranch .btn-search:hover {
  background: #3071a9;
}
.icon-excel {
  padding: 5px 0 5px 20px;
  background: url(../img/print.png) left center no-repeat;
}
.tips {
  padding: 0 10px;
  position: relative;
  background: url('../img/question-mark.png') center no-repeat;
  top: -3px;
  left: 5px;
  cursor: pointer;
}
.tips .tips-content {
  font-size: 12px;
  position: absolute;
  z-index: 9;
  top: 100%;
  left: -10px;
  width: 145px;
  padding: 2px;
  box-shadow: 0 3px 5px #d6d6d6;
  margin-left: 5px;
  margin-top: 3px;
  border: 1px solid #d6d6d6;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.5s ease-in;
}
.tips:hover .tips-content {
  opacity: 1;
  filter: alpha(opacity=100);
}
